<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AccountServlet</servlet-name>
        <servlet-class>servlets.AccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>servlets.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProgramServlet</servlet-name>
        <servlet-class>servlets.ProgramServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProgramTestServlet</servlet-name>
        <servlet-class>servlets.ProgramTestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotServlet</servlet-name>
        <servlet-class>servlets.ForgotServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTaskServlet</servlet-name>
        <servlet-class>servlets.AddTaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoleServlet</servlet-name>
        <servlet-class>servlets.RoleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDataServlet</servlet-name>
        <servlet-class>servlets.GetDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaskApproveDissaproveServlet</servlet-name>
        <servlet-class>servlets.TaskApproveDissaproveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTaskServlet</servlet-name>
        <servlet-class>servlets.EditTaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitTaskServlet</servlet-name>
        <servlet-class>servlets.SubmitTaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaskServlet</servlet-name>
        <servlet-class>servlets.TaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitTaskFormServlet</servlet-name>
        <servlet-class>servlets.SubmitTaskFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountServlet</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProgramServlet</servlet-name>
        <url-pattern>/programs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotServlet</servlet-name>
        <url-pattern>/forgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTaskServlet</servlet-name>
        <url-pattern>/addTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoleServlet</servlet-name>
        <url-pattern>/role</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDataServlet</servlet-name>
        <url-pattern>/data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskApproveDissaproveServlet</servlet-name>
        <url-pattern>/approve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTaskServlet</servlet-name>
        <url-pattern>/editTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitTaskServlet</servlet-name>
        <url-pattern>/submitTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskServlet</servlet-name>
        <url-pattern>/tasks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitTaskFormServlet</servlet-name>
        <url-pattern>/submitTaskForm</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login</welcome-file>
    </welcome-file-list>
    <env-entry>
        <env-entry-name>webmail-username</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>ecssenpro@gmail.com</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>webmail-password</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>3cssenPr%22</env-entry-value>
    </env-entry>
</web-app>
