@import "colorscheme.css";

/*:root
{
    --primary: #FAAE30;
    --secondary: #E6C169;
    --accent1: #9FCA6A;
    --accent2: #F2F2F7;
    --header: #174690;
}*/

body {
    /*       background-image: linear-gradient(to right, rgba(255,215,0,0.3), rgba(139,0,0,1));
  /*         background-image: url("content/images/login_background.png");*/
    /* gradient generator: https://www.joshwcomeau.com/css/make-beautiful-gradients/ */
    background-image: linear-gradient(
        90deg,
        hsl(55deg 68% 76%) 0%,
        hsl(51deg 71% 75%) 1%,
        hsl(48deg 73% 74%) 3%,
        hsl(45deg 74% 74%) 4%,
        hsl(42deg 76% 73%) 6%,
        hsl(40deg 77% 72%) 9%,
        hsl(37deg 78% 71%) 11%,
        hsl(35deg 79% 71%) 14%,
        hsl(33deg 79% 70%) 17%,
        hsl(31deg 80% 69%) 21%,
        hsl(28deg 80% 69%) 24%,
        hsl(26deg 80% 68%) 28%,
        hsl(24deg 80% 68%) 32%,
        hsl(22deg 79% 68%) 37%,
        hsl(20deg 78% 67%) 42%,
        hsl(17deg 77% 67%) 47%,
        hsl(15deg 76% 67%) 53%,
        hsl(12deg 75% 66%) 59%,
        hsl(9deg 73% 66%) 66%,
        hsl(6deg 71% 66%) 74%,
        hsl(3deg 69% 66%) 85%,
        hsl(0deg 66% 65%) 100%
        );
}

h1 {
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    font-size: 50px;
    color: rgb(23, 69, 144);
}

.base
{
    display: flex;
    height: 100%;
    width: 100%;
    margin-top: 150px;
    padding: 0;    
}

.body
{
    /*font-family: sans-serif;*/
    /*    display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;*/
    background: rgb(248,248,248);
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 2px 2px 12px darkslategrey;
    width: 370px;
    min-width: 370px;
    padding: 20px;
    margin-bottom: 10px;
    margin-left: 37%;
    
}

.table-container
{
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    width: 100%;
    /*height: 100%;*/
}

.table-controls
{
    display: grid;
    /*justify-content: center;*/
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    max-width: 1024px;
    margin: 50px 0 20px 0;
    padding: 0 .1rem 0 0;
    /*align-items: flex-end;*/
}

.table-controls div input
{
    width: 80%;
    height: 1.1rem;
    /*font-size: 1.1rem;*/
    height: 110%;
}

.add-user__button
{
    border-radius: 6px;
    border: 1px solid black;
    color: black;
    margin-right: 10px;
    padding: 3px 10px 3px 10px;
    min-width: 79px;
    background-color: var(--accent-two-color);
    text-decoration: none;
}

.add-user__button:hover
{
    background-color: var(--accent-one-color);
}

.add-user__button:active
{
    background-color: var(--secondary-color);
}

.table
{
    width: 80%;
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    /*max-height: 85vh;*/
    overflow-y: scroll;
    /*    -ms-overflow-style: none;   IE and Edge 
        scrollbar-width: none;   Firefox */
}

.test /*test removing scrollbar*/
{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.table::-webkit-scrollbar
{
    display: none;
}

.table-cell-header
{

    background-color: var(--secondary-color);
    color: var(--header-color);
    justify-content: center;
    align-items: center;
    border-width: 1px 0 1px 1px;
    width: 100%;
    display: flex;
    border-style: solid;
    border-color: black;
    text-align: center;
    min-height: 0;
    min-width: 0;
    white-space: nowrap;
}

.table-cell-header p
{
    margin: .5rem 0 .5rem 0;
    text-decoration: underline;
    font-weight: bold;
    color: var(--header);
    overflow: hidden;
}

.table-row-header
{
    display: grid;
    grid-template-columns: .75fr .75fr 1fr .5fr;
    width: 100%;
    position: sticky;
    top: 0;
}

.table-row
{
    display: grid;
    grid-template-columns: .75fr .75fr 1fr .5fr;
    width: 100%;
}

.table-row:hover
{
    background-color: #f7fcfc;
}

.table-cell
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    /*    border-width: 0 0 1px 1px;
        border-style: solid;
        border-color: black;*/
    /* margin-left: 33%; */
    min-height: 0;
    min-width: 0;

}
.table-cell *
{
    margin: 10px 5px 5px 10px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.table-cell a
{
    width: auto;
    margin-right: 100%;
    margin-left: 0;
    color: var(--header-color);
    text-decoration: none;
}

.table-cell a:hover
{
    color: #000077;
    text-decoration: underline;
}

.table-cell__edit
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.table-cell__edit a
{
    background-color: var(--accent-two-color);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
}

.table-cell__edit a:hover
{
    background-color: var(--accent-one-color);
    cursor: pointer;
}

.last-column
{
    border-right: 1px solid black;
}

.table-cell__last-row
{
    border-bottom: 1px solid black;
}

.display__none
{
    display: none;
}








/*----------------*/

.main-input
{
    display: flex;
    flex-direction: column;
    margin: auto;
    /*    justify-content: center;
        align-items: center;*/
}

.main-input__label
{
    margin: 0 0 0 10px;
    font-family: 'Lucida Sans Unicode', sans-serif;
}

.main-input__label--default
{
    color: black;
    transition: color 0.3s;
    font-family: 'Lucida Sans Unicode', sans-serif;
}

.main-input__label--warning
{
    ;
}

.main-input__label--error
{
    ;
}

.main-input__input
{
    /*text-align: center;*/
    width: 250px;
    height: 30px;
    margin: 0;
    padding-left: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    outline: none !important;
    transition: border-color 0.33s;
}

.main-input__input--default
{
    border-color: gray;
    transition: border-color 0.33s;
}

.main-input__input--warning
{
    border-color: goldenrod;
    transition: border-color 0.33s;
}

.main-input__input--error
{
    border-color: red;
    transition: border-color 0.33s;
}

.main-input__message
{
    align-self: center;
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    border-radius: 0 0 8px 8px;
    /*color: white;*/
    padding: 0px 8px 2px 8px;
    transition: opacity 0.33s;
}

.main-input__message--default
{
    color: black;
    opacity: 0;
    background-color: var(--secondary-gray);
    transition: opacity 0.33s;
}

.main-input__message--warning
{
    color: black;
    opacity: 1;
    background-color: var(--highlight-yellow);
    transition: opacity 0.33s;
}

.main-input__message--error
{
    opacity: 1;
    background-color: var(--highlight-red);
    transition: opacity 0.33s;
}


/*----------------*/

.input-area
{
    display: flex;
    flex-direction: column;
}

.input-area hr
{
    width: 100%;
    color: lightgray;
}

.login-button
{
    font-family: 'Lucida Sans Unicode', sans-serif;
    margin-top: 10px;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0 5px 0;
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    transition: border-color 0.2s;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                          supported by Chrome, Edge, Opera and Firefox */
}

.login-button:hover
{
    cursor: pointer;
    border-color: var(--header-color);
    transition: border-color 0.2s;
}

.login-button:active
{
    background-color: var(--secondary-color);
}